
@font-face {
    font-display: swap; /* Improve web-performace by forcing the browser to immediately change the font*/
    font-family: "Figtree";
    font-style: ExtraBold;
    font-weight: 800;
    src: url("../src/Figtree/Figtree-ExtraBold.ttf") format("woff2"); /* woff2 is used to compromise the size and therefore gurante a faster webperformance  */
}