@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-size-mxlarge);
  }
  .dialog-style {
    padding: 20px;
  }

  .dialog-img {
    width: 300px;
    height: 375px;
  }

  .header-content {
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .header-content {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
    margin-left: var(--spacing-xxlarge);
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: var(--font-size-mxlarge);
  }
  .dialog-img {
    width: 240px;
    height: 325px;
  }
}

@media screen and (max-width: 425px) {
  main {
    margin-top: 50px;
  }
}
