:root {
  /* Colors */
  --midnight-blue: #09212a;
  --midnight-dark-blue: #06171e;
  --light-grey-blue:#99ACB3;
  --light-red: rgb(253, 91, 79);
  --midnight-blue-red: rgb(33, 39, 46);
  --white: rgb(255, 255, 255);

  /* Typography */
  --font-family: "Figtree", Regular;
  --font-size-xsmall: 16x;
  --font-size-small: 20px;
  --font-size-base: 24px;
  --font-size-large: 28px;
  --font-size-xlarge: 32px;
  --font-size-xxlarge: 56px;

  /* Spacing */
  --spacing-xsmall: 8px;
  --spacing-small: 12px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --spacing-xxlarge: 56px;
  --content-lock: 1440px;

  /* Border radius variables*/

  --border-radius-A: 720px;
  --border-radius-B: 720px;
  --border-radius-C: 0px;
  --border-radius-D: 0px;
  --border-radius-E: 30px;
  --border-radius-F: 30px;
  --border-radius-G: 0px;
  --border-radius-H: 0px;
}
